<div class="jumbotron">
  <h2>Current semester <strong><%=Ourconfig.find_by(name: "semester").value%></strong></h2>
  <div class="panel panel-info">
    <div class="panel-heading">Set a Semester</div>
    <div class="panel-body">
      <%= form_tag(admin_semester_path,method: 'post') do %> 
        <input id="setSemester" type="text" name='semester' data-title="Use format => 1/2016" data-content="0: summer semester; 1: first semester; 2: second semester and / follow by the year (only allow within 3 semesters)" data-placement="top" data-trigger="focus"/>
        <input type="submit" value="Go"/>
      <% end %>
    </div>
  </div>
  <p>
    <a class="btn btn-primary btn-lg" href="/admin/offerings" role="button">Offerings</a>
    <a class="btn btn-primary btn-lg" href="/admin/professors" role="button">Professors</a>
    <a class="btn btn-primary btn-lg" href="/admin/courses" role="button">Courses</a>
    <a class="btn btn-primary btn-lg" href="/admin/preferences/offerings" role="button">See current preferences by offerings</a>
    <a class="btn btn-primary btn-lg" href="/admin/preferences/professors" role="button">See past preferences by professors</a>
  </p>
</div>


