<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @professor.name %></h1>
    <p>
      Please go to the site and fill our your preferences ASAP,
      your email is: <%= @professor.email %>.<br>
    </p>
    <p>Have a great day!</p>
  </body>
</html>