<h1>Admin dashboard</h1>

<h2>Current semester <%=Ourconfig.find_by(name: "semester").value%></h2>
<h1>We need to add a field here for the admin to change the current semester and give the tip that it must be formated in the "semester/year" way</h1>
<div>
  <h2>Set a semester</h2>
  <form method='post' action='/admin/semester'>
    <input type="text" name='semester'/>
    <input type="submit" value="submit">
  </form>
</div>


<a href="/admin/offerings">Offerings</a>
<a href="/admin/professors">Professors</a>
<a href="/admin/courses">Courses</a>