<% if !@lectures.empty? %>
  <h2><%=@lectures.first.professor.name%> Lectures</h2>
  <div style="float:left;width:40%">
  <%@lectures.each do |lecture|%>
    <div class="panel-primary well">
      <div class="panel-heading">
        <h4><%=decode_semester(lecture.semester)%></h4>
      </div>
      <div class="panel-body">
        <div><%=lecture.course.name%></div>
        <div><%=Offering.decode_schedule(lecture.schedule)%></div>
      </div>
    </div>
  <%end%>
  </div>
  <canvas style='width:400px;height:400px;margin-left:20px' id='lectureChart'></canvas>
<% else %>
  <h1>You have no lecture yet.</h1>
<% end %>