<% major = @results.first %>
<% major.each do |hash| %>
<h3><%= hash[:course]%></h3>
<p>First choice of <%= hash[:first_choice_of] %></p>
<p>Second choice of <%= hash[:second_choice_of]%></p>
<p>Third choice of <%= hash[:third_choice_of]%></p>
<%end%>

