a{
  text-decoration: none !important;
}
nav.navbar {
  position:fixed;
  margin-top:-5%;
  width:100%;
}

#yieldcontent{
  margin-top: 5%;
  margin-bottom: 5%;
}

#top-name { 
  width: 20%;
  margin: 0 auto;
  margin-top: 2%;
}

footer{
  background:#ffab62;
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
}

#footer.name{
  width: 50%;
  margin: 0 auto;
}

#timeforms{
  margin-top: 2%;
  border-radius: 3px;
}

#onePreference {
  display: table;
  padding: 2px; 
  border: 2px groove;
  margin-bottom: 1%;
}

#preferenceComment {
  height: 100px;
}

.table-hover > tbody > tr:hover{
  background-color: aqua;
}

#admin_offering_table {
    width: 100%;
}

#admin_offering_table thead,#admin_offering_table tbody,#admin_offering_table tr,#admin_offering_table td,#admin_offering_table th { display: block; }

#admin_offering_table tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

#admin_offering_table thead th {
  height: 30px;

  /*text-align: left;*/
}

#admin_offering_table tbody {
  height: 400px;
  overflow-y: auto;
  border-style:groove;
}

#admin_offering_table thead {
  /* fallback */
}


#admin_offering_table tbody td:nth-child(1) {
  width: 22%;
  float: left;
}

#admin_offering_table thead th:nth-child(1){
  width: 22%;
  float: left;
}

#admin_offering_table tbody td:nth-child(2) {
  width: 5%;
  float: left;
}

#admin_offering_table thead th:nth-child(2){
  width: 5%;
  float: left;
}

#admin_offering_table tbody td:nth-child(3) {
  width: 30%;
  float: left;
}

#admin_offering_table thead th:nth-child(3){
  width: 30%;
  float: left;
}

#admin_offering_table tbody td:nth-child(4) {
  width: 15%;
  float: left;
}

#admin_offering_table thead th:nth-child(4){
  width: 15%;
  float: left;
}

#admin_offering_table tbody td:nth-child(5) {
  width: 10%;
  float: left;
}

#admin_offering_table thead th:nth-child(5){
  width: 10%;
  float: left;
}

#admin_offering_table tbody td:nth-child(5) {
  width: 10%;
  float: left;
}

#admin_offering_table thead th:nth-child(5){
  width: 10%;
  float: left;
}


#professor_offering_table {
    width: 100%;
}

#professor_offering_table thead,#professor_offering_table tbody,#professor_offering_table tr,#professor_offering_table td,#professor_offering_table th { display: block; }

#professor_offering_table tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

#professor_offering_table thead th {
  height: 30px;

  /*text-align: left;*/
}

#professor_offering_table tbody {
  height: 400px;
  overflow-y: auto;
  border-style:groove;
}

#professor_offering_table thead {
  /* fallback */
}


#professor_offering_table tbody td:nth-child(1) {
  width: 30%;
  float: left;
}

#professor_offering_table thead th:nth-child(1){
  width: 30%;
  float: left;
}

#professor_offering_table tbody td:nth-child(2) {
  width: 10%;
  float: left;
}

#professor_offering_table thead th:nth-child(2){
  width: 10%;
  float: left;
}

#professor_offering_table tbody td:nth-child(3) {
  width: 30%;
  float: left;
}

#professor_offering_table thead th:nth-child(3){
  width: 30%;
  float: left;
}

#edit_professor_offering_table {
    width: 100%;
}

#edit_professor_offering_table thead,#edit_professor_offering_table tbody,#edit_professor_offering_table tr,#edit_professor_offering_table td,#edit_professor_offering_table th { display: block; }

#edit_professor_offering_table tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

#edit_professor_offering_table thead th {
  height: 30px;

  /*text-align: left;*/
}

#edit_professor_offering_table tbody {
  height: 400px;
  overflow-y: auto;
  border-style:groove;
}

#edit_professor_offering_table thead {
  /* fallback */
}


#edit_professor_offering_table tbody td:nth-child(1) {
  width: 30%;
  float: left;
}

#edit_professor_offering_table thead th:nth-child(1){
  width: 30%;
  float: left;
}

#edit_professor_offering_table tbody td:nth-child(2) {
  width: 10%;
  float: left;
}

#edit_professor_offering_table thead th:nth-child(2){
  width: 10%;
  float: left;
}

#edit_professor_offering_table tbody td:nth-child(3) {
  width: 30%;
  float: left;
}

#edit_professor_offering_table thead th:nth-child(3){
  width: 30%;
  float: left;
}
